
#cabecera {
    border-bottom: 1px;
    font-size: 30px;

}

#navegador {
    float: left;
    font-size: 20px;
 
    width: 30%;
}

#contenido-menu {
    float: left;
    overflow: hidden;
    width: 70%;
}

#footer-menu{
      background-image: url("../img/logo-web.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 25%;
}

#top{
    overflow: hidden;
    margin: 5%;
}

ul {
    list-style-type: none;
  }


#logo-footer{
       width:25%;
 
}

#footer-contacto {
    text-align: right;
}

#foto-entrada {
    float: right;
    width: 50%;
    
}

