

/* Style Resets */
*{
    box-sizing: border-box;
  }
  ul, ol{
    padding: 0;
  }
  li {
    list-style-type: none;
    margin-bottom: 5%;
  }
  a{
    text-decoration: none;
  }
  
  /* Moblie (first)*/
  body {
      margin:0;
      padding: 0;
      background-image: url("../images/bg-body.png");
      font-family: sans-serif;
      font-size: 4vw;
  }
  .container{
      margin: 0 auto; /* importante: centramos estructura */
      width: 100vw;
      height: 30vh;
  }
  .photo-container {
    margin: 0 auto; /* importante: centramos estructura */
    width: 100%;

  }
  .main-header{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;  
 
  }
  .vip-products {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .product {
    margin-bottom: 60px;
  }
  .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

  }
  .special {
    display: block;
    width: 20%;
    margin: 1%;
    padding: 2%;


  }
  .zoom{

  }
  .main-footer{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;  
  }

  .banner{
    display: none;
  }
  
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    padding: 20px;
  }

  .main-nav {

  }





  /* ... acá sigo colocando los estilos para mobile */
  
  /* Tablets - Laptops */
  @media (min-width:768px) {
    .banner{
      display: block;
    }
    



  }
  
  /* Large Screens */
  @media (min-width:1200px){
    .banner{
      display: block;
    }
  }